@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Roboto";
  src: local("Roboto"),
   url(../Roboto/Roboto-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto"),
   url(../Roboto/Roboto-Bold.ttf) format("truetype");
   font-weight: bold;
   font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto"),
   url(../Roboto/Roboto-Italic.ttf) format("truetype");
   font-weight: normal;
   font-style: italic;
}

html {
  font-family: 'Roboto'
}